<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileAssignment"
        tools:targetApi="31">
        <activity
            android:name="User.user_cart"
            android:exported="false" />
        <activity
            android:name="User.Menu"
            android:exported="false" />
        <activity
            android:name="Admin.AdminDashboard"
            android:exported="false" />
        <activity
            android:name="Admin.AddAdmin"
            android:exported="false" />
        <activity
            android:name="Admin.AddUser"
            android:exported="false" />
        <activity
            android:name="Admin.SelectRole"
            android:exported="false" />
        <activity
            android:name="Admin.AdminEditProfile"
            android:exported="false" />
        <activity
            android:name="Admin.AdminProfile"
            android:exported="false" />
        <activity
            android:name="User.ResetPassword"
            android:exported="false" />
        <activity
            android:name="User.UserEditProfile"
            android:exported="false" />
        <activity
            android:name="Admin.AdminPayment"
            android:exported="false" />
        <activity
            android:name="User.Donation.Donation"
            android:exported="false" />
        <activity
            android:name="User.Payment.Payment"
            android:exported="false" />
        <activity
            android:name="User.UserProfile"
            android:exported="false" />
        <activity
            android:name="Admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name="User.Register"
            android:exported="false" />
        <activity
            android:name="User.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="User.UserMainActivity"
            android:exported="false" />
    </application>

</manifest>